<h1>Lechon</h1>
<% if @lechon %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Customer</th>
        <th scope="col">Size</th>
        <th scope="col">Weight</th>
        <th scope="col">Base Price</th>
        <th scope="col">Sell Price</th>
        <th scope="col">Supplier</th>
        <th scope="col">Ordered</th>
        <th scope="col">Cook Start</th>
        <th scope="col">Cook End</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
      <tr>
        <td><%= @lechon.order.id %></td>
        <td><%= @lechon.order.customer.full_name %></td>
        <td><%= @lechon.size.capitalize %></td>
        <td><%= @lechon.weight %></td>
        <td><%= @lechon.base_price %></td>
        <td><%= @lechon.sell_price %></td>
        <td><%= @lechon.supplier_id ? @lechon.supplier.company_name : '' %></td>
        <td><%= @lechon.ordered ? 'Yes' : 'No' %></td>
        <td><%= @lechon.cook_start %></td>
        <td><%= @lechon.cook_end %></td>
        <td>
        <%= link_to "Edit", edit_lechon_path(@lechon.id), class: "btn btn-primary disabled" %>
        <%= link_to "Delete", lechon_path(@lechon.id), method: :delete, class: "btn btn-danger" %>
      </tr>
    </table>
  <% else %>
    <p>No lechon</p>
  <% end %>