<h1>Deliveries</h1>
<%= form_with model: @delivery, url: deliveries_path(@delivery), method: :patch, local: true do |f| %>
  <table class="table">
    <tr>
      <th scope="col">Customer</th>
      <td><%= @order.customer.full_name %></td>
      <td><%= f.hidden_field :order_id, value: @order.id %></td>
    </tr>
    <tr>
      <th scope="col">Contact</th>
      <td><%= @order.customer.phone_formatted %></td>
    </tr>
    <tr>
      <th scope="col">Date Scheduled</th>
      <td><%= @order.pickup_at ? @order.pickup_at.to_formatted_s(:long) : '' %></td>
    </tr>
    <tr>
      <th scope="col">Deliverer</th>
      <td>
      <div class="dropdown">
        <%= f.collection_select :deliverer_id, @deliverers, :id, :name, class: 'dropdown-toggle form-control' %>
      </div>
      </td>
    </tr>
    <tr>
      <th scope="col">Location</th>
      <td><%= f.text_field :location, class: 'form-control' %></td>
      </tr>
      <tr>
      <th scope="col">Address</th>
      <td><%= f.text_field :address, class: 'form-control' %></td>
    </tr>
    <tr>
      <th scope="col">Delivery Charge</th>
      <td><%= f.text_field :delivery_charge, class: 'form-control' %></td>
    </tr>
    <tr>
      <th scope="col">Details</th>
      <td>
      </td>
    </tr>
  </table>
  <%= f.submit "Update Delivery", class: "btn btn-primary" %>
  <%= link_to "Cancel", "/deliveries", class: "btn btn-primary" %>
<% end %>