<h1>Deliveries</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Customer</th>
      <th scope="col">Contact</th>
      <th scope="col">Date Ordered</th>
      <th scope="col">Date Scheduled</th>
      <th scope="col">Arrival Time</th>
      <th scope="col">Location</th>
      <th scope="col">Address</th>
      <th scope="col">Deliverer</th>
      <th scope="col">Delivery Charge</th>
      <th scope="col">Total</th>
      <th scope="col">Notes</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <% if @deliveries %>
    <% @deliveries.each do |delivery| %>
    <tr>
      <td><%= delivery.order.customer.full_name %></td>
      <td><%= delivery.order.customer.phone_formatted %></td>
      <td><%= delivery.order.created_at.to_formatted_s(:long) %></td>
      <td><%= delivery.order.pickup_at ? delivery.order.pickup_at.to_formatted_s(:long) : '' %></td>
      <td><%= delivery.arrival_at ?
        delivery.arrival_at.to_formatted_s(:long)
        : (link_to "Mark Delivered", edit_delivery_path(order_id: delivery.order.id), class: "btn btn-primary disabled")
        %></td>
      <td><%= delivery.location %></td>
      <td><%= delivery.address %></td>
      <td><%= delivery.deliverer ? delivery.deliverer.name : '' %></td>
      <td><%= delivery.delivery_charge %></td>
      <td><%= delivery.order.total_sell_price %></td>
      <td><%= delivery.order.notes %></td>
      <td>
      <%= link_to "Edit", edit_delivery_path(order_id: delivery.order.id), class: "btn btn-primary" %>
      <%= link_to "Cancel", delivery_path(order_id: delivery.order.id), method: :delete, data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
        }, class: "btn btn-danger" %>
      </td>
    </tr>
  <% end %>
  <% else %>
    <p>No deliveries</p>
  <% end %>
</table>