<h1>Show Customer</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Orders</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tr>
    <td><%= "#{@customer.first_name} #{@customer.last_name}" %></td>
    <td><%= @customer.phone %></td>
    <td><%= @customer.email %></td>
    <td><%= @customer.order_count %></td>
    <td><%= @customer.note %></td>
  </tr>
</table>
<%= link_to "View All Customers", "/customers", class: "btn btn-primary" %>