<h2>Current Order</h2>
<tr>
  <td>
    <%= cart.size === 0 ? 'Currently empty' : '' %>
  </td>
  <td>
    <table>
    <% enhanced_cart.map do |item| %>
      <tr>
        <td><%= item[:product].size.capitalize() %></td>
        <td><%= item[:quantity] %></td>
        <td><%= "$#{item[:product].sell_price}.00" %></td>
      </tr>
      <% end %>
    </table>
  </td>
  <td>
    Total
  </td>
  <td>
    <%= "$#{cart_subtotal_cents}.00" %>
  </td>
</tr>
