<%= form_for :lechon do |lechon_form| %>
  <h2>New Lechon</h2>

  <div>
    <%= lechon_form.label 'Supplier' %><br />
    <%= select_tag(:id, options_from_collection_for_select(@suppliers, 'id', 'company_name')) %>
  </div>

  <div>
    <%= lechon_form.label :size %><br />
    <%= radio_button_tag(:size, 'small') %>
    <%= label_tag(:size_s, "Small") %>
    <%= radio_button_tag(:size, 'medium') %>
    <%= label_tag(:size_m, "Medium") %>
    <%= radio_button_tag(:size, 'large') %>
    <%= label_tag(:size_l, "Large") %>
  </div>

  <%= lechon_form.submit %>
<% end %>