<h1>Edit Order</h1>

<%= form_with model: @order, url: order_path(@order), method: :patch, local: true do |f| %>
<table class="table">
    <tr>
      <th scope="col">Customer</th>
      <td><%= @order.customer.full_name %></td>
    </tr>
    <tr>
      <th scope="col">Phone</th>
      <td><%= @order.customer.phone_formatted %></td>
    </tr>
    <tr>
      <th scope="col">Email</th>
      <td><%= @order.customer.email %></td>
    </tr>
    <tr>
      <th scope="col">Date Ordered</th>
      <td><%= @order.created_at.to_formatted_s(:long) %></td>
    </tr>
    <tr>
      <th scope="col">Date Confirmed</th>
      <td><%= f.datetime_local_field :confirmed_at, {class: 'form-control'} %></td>
    </tr>
    <tr>
      <th scope="col">Pickup Date</th>
      <td><%= f.datetime_local_field :pickup_at, {class: 'form-control'} %></td>
    </tr>
    <tr>
      <th scope="col">Date Completed</th>
      <td><%= f.datetime_local_field :completed_at, {class: 'form-control'} %></td>
    </tr>
    <tr>
      <th scope="col">Delivery</th>
      <td>
        <%= !@order.delivery ? 
          (link_to "Add Delivery", new_delivery_path(order_id: @order.id), class: "btn btn-primary #{@order.delivery ? 'disabled' : ''}")
          : (link_to "Cancel Delivery", delivery_path(order_id: @order.id), method: :delete, data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
            }, class: "btn btn-danger #{!@order.delivery ? 'disabled' : ''}")
        %>
      </td>
    </tr>
    <tr>
      <th scope="col">Delivery Charge</th>
      <!--td><%= @order.delivery ? (f.text_field @order.delivery.delivery_charge, class: 'form-control') : 0 %></td-->
      <td><%= @order.delivery ? @order.delivery.delivery_charge : '0' %></td>
    </tr>
    <tr>
      <th scope="col">Status</th>
      <td>
        <div class="dropdown">
        <%= f.select(:status, @statuses, {}, class: "form-control") %></td>
      </div>
    </tr>
    <tr>
      <th scope="col">Payment</th>
      <td>
        <div class="dropdown">
        <%= f.select(:payment_received, @payment_received_types, {}, class: 'dropdown-toggle form-control') %></td>
      </div>
    </tr>
    <tr>
      <th scope="col">Payment Type</th>
      <td>
        <div class="dropdown">
        <%= f.select(:payment_type, @payment_types, {}, class: 'dropdown-toggle form-control') %></td>
      </div>
    </tr>
    <tr>
      <th scope="col">Payment Holder</th>
      <td>
        <div class="dropdown">
        <%= f.select(:payment_holder, @payment_holders, {}, class: 'dropdown-toggle form-control') %></td>
      </div>
    </tr>
    <tr>
      <th scope="col">Total</th>
      <td><%= @order.total_price %></td>
    </tr>
    <tr>
    <th scope="col">Notes</th>
      <td><%= f.text_field :notes, class: 'form-control' %></td>
    </tr>
</table>
<%= f.submit "Update Order", class: "btn btn-primary" %>
<%= link_to "Delete Order", "/orders", class: "btn btn-danger" %>
<%= link_to "Cancel", "/orders", class: "btn btn-primary" %>
<% end %>