<h1>Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Customer</th>
      <th scope="col">Contact</th>
      <th scope="col">Date Ordered</th>
      <th scope="col">Date Confirmed</th>
      <th scope="col">Pickup Date</th>
      <th scope="col">Delivery</th>
      <th scope="col">Status</th>
      <th scope="col">Total</th>
      <th scope="col">Notes</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <% if @orders %>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.customer.full_name %></td>
      <td><%= order.customer.phone_formatted %><br /><%= order.customer.email %></td>
      <td><%= order.created_at.to_formatted_s(:long) %></td>
      <td><%= order.confirmed_at ? order.confirmed_at.to_formatted_s(:long) : 'Not confirmed' %></td>
      <td><%= order.pickup_at ? order.pickup_at.to_formatted_s(:long) : '' %></td>
      <td><%= order.delivery ? "Yes" : "No" %></td>
      <td><%= order.status %></td>
      <td><%= order.total_price %></td>
      <td><%= order.notes %></td>
      <td><%= link_to "See Details", order_path(order), class: "btn btn-primary" %></td>
    </tr>
  <% end %>
<% end %>
</table>