<h1>New Order</h1>

<%= form_with model: @order, method: :post do |form| %>

  <div>
    <%= form.label 'Customer', {class: 'form-label'} %><br>
    <%= select_tag(:customer_id, options_from_collection_for_select(@customers, :id, :full_name), {class: 'form-control'}) %>
  </div>
  <div>
    <%= form.label 'Requested time', {class: 'form-label'} %><br>
    <%= form.datetime_local_field :pickup_at, {class: 'form-control'} %>
  </div>
  
  <div>
    <%= form.label 'Notes', {class: 'form-label'} %><br />
    <%= form.text_field :notes, {class: 'form-control'} %>     
  </div>

  <div>
    <%= form.button "Create Order", class: 'btn btn-primary' %>
  </div>
<% end %>